@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap");

* {
  scroll-behavior: smooth;
  scroll-margin-top: 14vh;
}
