@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap");

* {
  scroll-behavior: smooth;
  scroll-margin-top: 14vh;
}

main {
  overflow-x: hidden;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}

.commentContainer {
  max-width: 100%;
  overflow: auto;
}

.commentText {
  overflow-wrap: break-word;
}